body {
    font-family: sans-serif;
    font-size: 14px;
}

.btn-lg {
    font-size: 1.4rem;
    padding: 0.6rem 1.6rem;
}

.navbar-menu {
    padding-top: 0.7em;
}

.nav-item {
    padding-left: 0.5em;
}

.navbar-menu {
    padding-right: 0.5em;
}

.hidden {
    display:none;
}

.show {
    display:block;
}

.table th, .table td {
    padding: 0.50rem;
}
